extends ./layout

<<<<<<< HEAD
block title
  h2.title Welcome to #{title}
block content

  //- CATEGORIES
  section
    div.container.text-center
      label
        p.text-center What would you like to do today?
      select.form-control.categories(multiple='')
        - for(i = 0; i< categories.length; i++){
          option.= categories[i]
        - }
  
=======
block content
  .container-fluid
    include ./includes/large-logo-header.jade  
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2(style="height:375px; padding:100px; text-align:center; margin-bottom: 75px;")
        h2 find free things to do
        form(method='post' action='/splash')
          .col-sm-12.col-md-6.col-md-offset-3
            .form-group
              if categories
                p  
                select.form-control(name="category" id="category")
                  for category in categories
                    - var categoryid = category.id;
                    option(value=categoryid selected=(category ? (categoryid === "#{category.id}" ? "selected" : undefined) : undefined)) #{category.name}
            .form-group.footer
              button.btn.btn-default.form-control(id="searchfreebies" type="submit") Submit 

    .row
      .fffooter.col-sm-12.col-md-8.col-md-offset-2
        .col-sm-12.col-md-2
          p
            a(href="/info/corporate-partner") Become a Corporate Partner
        .col-sm-12.col-md-2
          p
            a(href="/info/about") About
        .col-sm-12.col-md-2
          p
            a(href="/info/contact") Contact
>>>>>>> 7680de6d53a76e12b0ec6fedbda9126361750988
