extends ../layout

block content
  .container-fluid
    include ../../includes/large-logo-header.jade            
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2
        h1 Would you like to contribute events to freedenver.co?
        p Sign up today to create a Partner account with freedenver.co to be able to add, edit, and delete events. 
        if error
          h4(style="color: red;")= error
        form(action="/users" method="post")
          .form-group
            input.form-control(type='text' name='name' placeholder=user ? '' : 'Company name' value=user ? user.name : '' required)
          .form-group
            input.form-control(type='text' name='url' placeholder=user ? '' : 'Company URL' pattern="https?://.+" value=user ? user.url : '' required)
          .form-group
            input.form-control(type='text' name='username' placeholder=user ? '' : 'Choose a username' value=user ? user.username : '' required)
          .form-group   
            input.form-control(type='password' name='password' placeholder='Choose a password' required)
          .form-group   
            input.form-control(type='password' name='password2' placeholder='Confirm password' required)
          .form-group.footer
            button.btn.btn-warning.form-control(type='submit') Sign Up 
    include ../../includes/footer.jade  
