div(id="maparea" style="width: 100%; height: 300px;")
if freebies
  script.
   function initMap() {
     var collection = (!{JSON.stringify(freebies)});
     var map = new google.maps.Map(document.getElementById('maparea'), {
       zoom: 10,
       center: {lat: 39.739236, lng: -104.990251}
     });
     for (var i=0; i <= collection.length-1; i++) {
     if (collection[i].lat !== undefined && collection[i].lat !== null) {
       var marker = new google.maps.Marker({
           position: {lat: collection[i].lat, lng: collection[i].long},
           map: map,
           title: #{'collection[i].name'}
        })
       var infoWindow = new google.maps.InfoWindow({
          content: '<strong>' + #{'collection[i].name'} + '</strong><br><br>' + #{'collection[i].text'} + '<br><br>' + '<a href=' + #{'collection[i].url'} + '>More Info'
        })
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        })
      }
     }
   }
else
  script.
   function initMap() {
     var map = new google.maps.Map(document.getElementById('maparea'), {
       zoom: 14,
       center: {lat: #{lat}, lng: #{lng}},
     });
     var marker = new google.maps.Marker({
         position: {lat: #{lat}, lng: #{lng}},
         map: map
       });
   }
//- script(src="https://code.jquery.com/jquery-2.2.0.min.js")          
script(async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap")
br
