extends ../layout

block content
  h1 This is the activies show page
  a.createFreebie(href="freebies/new") Create Freebie
  a.mapLink(href="/map") Freebie Map
  .calendar
  if freebiess
    for freebie in freebies 
      .event
        .freebieTitle= freebie.name
        .location
          a(href="/mapsearch?location=#{freebie.location}") #{freebie.location}
        a.edit(href="/freebies/" + freebie.id + '/edit') Edit
  if events
    table
      each event, index in events
        tr
          td
            a(href="#{event.event_url}") #{event.name}
          td= dates[index]
          if event.venue
            td
              a(href="/mapsearch?location=#{event.venue.address_1},+#{event.venue.city},+#{event.venue.country}") #{event.venue.address_1}, #{event.venue.city}, #{event.venue.country}
          else
            td This location is shown only to members of the meetup
