extends ../layout

block content
  include ../../includes/filter.jade
  .container-fluid
    include ../../includes/partner-link.jade  
    include ../../includes/large-logo-header.jade  
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2
        form(method='post' action='/splash')
          .col-sm-12.col-md-8.col-md-offset-2
            .form-group.col-sm-12.col-md-8.pull-left
              if categories
                p
                select.form-control(name="category" id="category")
                  for category in categories
                    option(value=category.name selected=(category ? (catname === category.name ? "selected" : undefined) : undefined)) #{category.name}
            .form-group.footer.pull-left(style="margin-top:10px;")
              p
                button.btn.btn-default.form-control(id="searchfreebies" type="submit") Submit 
    .row
      .mainthings.table-responsive.col-sm-12.col-md-8.col-md-offset-2
        if freebies.length > 0
          h2 freebie events
          table.table.table-striped
            thead
              tr
                td Event Name
                td Start Date
                td End Date
                td Location
            for freebie in freebies 
              tr
                td 
                  h4 #{freebie.name}
                td #{freebie.start_date}
                td #{freebie.end_date}
                td #{freebie.location}
          br
        else
          h4 No freebies exist for this category. Please check back later!
    .row
      .mainthings.col-sm-12.col-md-8.col-md-offset-2
        h2 
        include ../../includes/freebie-map.jade
    if events
    .row
      .mainthings.table-responsive.col-sm-12.col-md-8.col-md-offset-2
        h2 meetup events
        table.table.table-striped
          thead
            tr
              td Event Name
              td Start Date
              td End Date
              td Location
          each event, index in events 
            tr
              td 
                h4 
                  a(href="#{event.event_url}") #{event.name}
              td= startDates[index]
              td= endDates[index]
              if event.venue
                td
                  a(href="http://maps.google.com/maps?saddr=&daddr=#{event.venue.address_1},+#{event.venue.city},+#{event.venue.country}") #{event.venue.address_1}, #{event.venue.city}, #{event.venue.country}
              else
                td Please join meetup to see location
    include ../../includes/footer.jade
